@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* form {
    border: 1px solid;

} */

body {
    background-color: aliceblue;
  }

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(195,34,135);
    background: linear-gradient(0deg, rgb(20, 20, 20) 0%, rgba(222, 223, 222, 0.829) 100%);
   
}

html, body, #formcadastro{
    height: 100%;
    width: 500px;
    margin: auto;
    gap: 10px;
}

h1, p, fieldset{
    width: 80%;
    text-align: center;
    font-family:  'Roboto', sans-serif;
    color: white;
}

h1 {
    color: rgb(20, 20, 20);
    border-bottom: solid 1px #ffffff7e;
    padding-bottom: 5px;
}

input,select{
    border: none ;
    border-radius: 3px;
}

.input-height{
    height: 20px;
}

.enviar-limpar{
    background-color: white;
    color: rgb(3, 0, 8);
}

fieldset.campoEnteresse{
    padding: 20px;
    gap: 10px;
    border-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

