  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    background-color: rgb(187, 187, 187);
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    /* border: 1px solid; */
    height: 100%;
    width: 70%;
    padding: 0;
    display: block;
    margin: 5px auto 5px auto;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    }
/* 
form {
    border: 1px solid red;
} */

table {
    border: 1px solid green;
    width: 100%;
    height: 100%;
    display: block;
    margin: 5px auto 5px auto;
}

/* tr {
    width: 100%;
} */

tr td {
    padding: 21px 20px 30px;
    display: block;
    /* margin: auto auto; */
}

.title {
    text-align: center;
    background-color: rgba(245, 243, 243, 0.507);
    color: black;
    font-size: 20px;
}
