.posicao_tamanho_imagem{
    position: fixed;
    background-color: rgb(255, 255, 255);
    right: 1%;
    top: 0%;
    width: 150px;
    height: 75px;
    cursor:alias;
}

h1 {
    text-decoration: underline;
    text-align: center;
    color: #808080;
    background-color: pink;
    border: 7px solid;
    border-top-color: rgb(94, 13, 170);
    border-right-color: rgb(38, 27, 196);
    border-bottom-color: rgb(13, 122, 136);
    border-left-color: rgb(5, 73, 25);
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: fuchsia;
    border: 1px solid;
    
}

.texto_negrito{
    font-weight: bold;
    color: purple;
}
